body{
    font-size: 20px;
    background-color: #494949;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: white;
}

a{
    text-decoration: none;
}

.navbar .material-icons {
    float: left;
    padding-right: 5px;
    padding-top: 1px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
}

.container{
    width: 100%;
    height: 100%;
}

/* Banner */

.logo-img{
    width: 18%;
    height: 180px;
    float: left;
}

.banner-img{
    height: 180px;
    width: 82%;
    float: left;
}

/* Navbar */

.navbar{
    float: left;
    font-size: 22px;
    color: white;
    height: 5%;
    width: 100%;
    background-color: #313131;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar a{
    color: white;
}

.navbar a:hover{
    color: gold;
    transition: 0.3s;
}

.home{
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.forum{
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.gallery{
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.help{
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.navbar .help{
    color: gold;
}

.navbar .help:hover{
    color: rgb(230, 169, 18);
}

.login{
    float: right;
    padding-right: 15px;
    padding-left: 15px;
}

/* Main */

.main{
    height: 1000px;
}

/* Form title */

.form-title{
    float: left;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    width: 100%;
    height: 10%;
}

/* Form type */

.form-inputs{
    float: left;
    width: 100%;
    font-size: 20px;
    height: 80%;
    padding-top: 10px;
    text-align: center;
    
}

.form-inputs .problem-type{
    font-size: 15px;
    border-radius: 6px;
    border: rgb(26, 26, 26) 2px solid;
    background-color: #a8a8a8;
    cursor: pointer;
}

/* Description form */

.problem{
    margin-top: 15px;
    border-radius: 10px;
    border: rgb(26, 26, 26) 2px solid;
    background-color: #a8a8a8;
    font-size: 18px;
}

/* Form buttons */

.form-buttons{
    width: 100%;
    text-align: center;
    float: left;
    padding-top: 20px;
}

.send{
    font-size: 20px;
    border: rgb(26, 26, 26) 2px solid;
    border-radius: 10px;
    padding: 4px;
    background-color: #a8a8a8;
}

.send:hover{
    color: gold;
    background-color: #313131;
    transition: 0.3s;
    cursor: pointer;
}

.reset{
    font-size: 20px;
    border: rgb(26, 26, 26) 2px solid;
    border-radius: 10px;
    padding: 4px;
    background-color: #a8a8a8;
}

.reset:hover{
    color: gold;
    background-color: #313131;
    transition: 0.3s;
    cursor: pointer;
}

/* Footer */

.footer{
    width: 100%;
    padding-top: 15px;
    text-align: center;
    height: 40px;
    background-color: #313131;
    float: left;
}





